<%= render "shared/profile" %>

<div class="columns">
    <% @posts.each do |post| %>
        <div class="column">
            <%= render "posts/post", post: post %>            
        </div>
    <% end %>
</div>