<% if notice %>  
  <div class="notification is-primary">
    <%= notice %>
  </div>
<% end %>
<% if flash[:error] %>  
  <div class="notification is-danger">
    <%= flash[:error] %>
  </div>
<% end %>
