<div id="posts" class="columns is-justify-content-space-between mt-5">
  <% @posts.each do |post| %>
    <div class="column is-5">
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    </div>
  <% end %>
</div>
